.mainDiv {
  background-color: var(--corBranco);
  display: flex;
  justify-content: center;
}
.mainDiv main {
  width: 100%;
}

.topBarProfile {
  position: relative;
  height: 180px; /* controla o tamanho da faixa marrom */
  background-color: var(--corBege); /* ou marrom se for o caso */
}

.conteudoProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.perfilHeader {
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  display: inline-block;
}

.img-perfil {
  width: 150px;
  height: 150px;
  border: 5px solid var(--corMarrom);
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.circleEditar {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 48px;
  height: 48px;

  background-color: var(--corBege);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  box-shadow: 0px 4px 10px var(--corSombra);
  color: var(--corMarrom);
}

.iconeUpload {
  width: 24px;
  height: 24px;
}

.nameUser {
  font-size: 2rem;
  font-weight: 600;
  color: var(--corPreto);
  margin: 2rem 0 0.5rem 0;
}

.cargoUser {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--corCinzaEscuro);
  margin: 0 0 1rem 0;
}

.emailUser {
  font-size: 1rem;
  font-weight: 400;
  color: var(--corCinzaEscuro);
  margin: 0;
}

.botaoPerfil {
  margin: 2rem 0 1.5rem 0;
  padding: 0.5rem 6rem;
  background-color: var(--corMarrom);
  border: none;
  border-radius: 6.25rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--corBranco);
  cursor: pointer;
  transition: all 0.3s ease;
}

.botaoPerfil:hover {
  background-color: var(--corPreto);
}
