/* ============================= */
/* SIDEBAR */
/* ============================= */
/* Pode usar esse arquivo pra    */
/* repetir a sideBar nas outras  */
/* páginas.                      */
/* ============================= */

.sideBar {
  flex: 0.8;
  padding: 2rem var(--paddingGeral);
}

.tituloPaginas {
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--corPreto);
}

.tituloSidebar {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--corPreto);
  padding: 1rem 0;
  background-color: var(--corBranco);
}

.sideBarBotao {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: var(--corPreto);

  transition: all 0.3s ease;
}

.sideBarBotao:hover {
  color: var(--corMarrom);
}

.iconeBotaoSideBar svg {
  width: 24px;
  height: 24px;
}

/* Botão dropdown da SideBar (vou enlouquecer) */
.dropCheck {
  display: none;
}
.botaoSideBar {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  color: var(--corPreto);

  transition: all 0.3s ease;
}
.botaoSideBar:hover {
  color: var(--corMarrom);
}

/* Faz a seta ir pra direita */
.seta {
  margin-left: auto;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}
.itensEscondidos {
  list-style: none;
  padding-left: var(--paddingGeral);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.itensEscondidos li {
  padding: 1rem 0;
}
.itensEscondidos li a {
  text-decoration: none;
  color: var(--corPreto);
  transition: all 0.3s ease;
}
.itensEscondidos li a:hover {
  color: var(--corMarrom);
}

.dropCheck:checked ~ .itensEscondidos {
  max-height: 200px;
}
/* Aqui faz a seta girar */
.dropCheck:checked + .botaoSideBar .seta {
  transform: rotate(180deg);
}
