@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./topBarProfile.css";
@import "./topBar.css";
@import "./sideBar.css";

/* ============================= */
/* CONFIGURAÇÕES GERAIS */
/* ============================= */

:root {
  --paddingGeral: 1.5rem;
  --larguraSidebar: 250px;

  /*Paleta de cores*/
  --corMarrom: #8c6046;
  --corBege: #f1e4cc;
  --corPreto: #2c2725;
  --corverde: #9fca32;
  --corVerdeClaro: #ddffcd;
  --corVermelho: #ae4e3f;
  --corRosa: #ffcdd2;
  --corBranco: #fff;
  --corCinzaClaro: rgba(116, 116, 128, 0.08);
  --corCinzaEscuro: #727272;
  --corSombra: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ============================= */
/* LAYOUT GERAL */
/* ============================= */
.container {
  min-height: 100vh;
  background-color: white;
  display: flex;
}

/*main*/
.mainDiv {
  flex: 1;
}
