/* ============================= */
/* CONFIGURAÇÕES GERAIS */
/* ============================= */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --paddingGeral: 1.5rem;
  --corGeralRoxoEscuro: #8a38f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ============================= */
/* LAYOUT GERAL */
/* ============================= */
.container {
  min-height: 100vh;
  background-color: white;
  display: flex;
}

/*main*/
.mainPerfil {
  flex: 5.5;
  background-color: #ffffff;
}
