/* ============================= */
/* TOPBAR PROFILE */
/* ============================= */

.topBarProfile {
  width: 100%;
  height: 50vh;
  background-color: #F0E6FC;
  display: flex;
  flex-direction: row;
}